p{
    text-align: justify;
}
.p1{
    background-color: rgb(211, 203, 203);
}
.p2{
    background-color: rgb(211, 203, 203);
}
.p3{
    background-color: rgb(211, 203, 203);
}
.p4{
    background-color: rgb(211, 203, 203);
}
.p5{
    background-color: rgb(211, 203, 203);
}
.p6{
    background-color: rgb(211, 203, 203);
}
