p{
    text-align: justify;
}

img{
    width: 100%;
    height: 100px;
    border: 2px solid #000;
}

.p1{
    background-color: rgb(211, 203, 203);
}

.part1 img{
    width: 100%;
    height: 410px;
}


.p2{
    background-color: rgb(211, 203, 203);
}

.p3{
    background-color: rgb(211, 203, 203); 
}

/* .h{
    background-color: rgb(211, 203, 203); 
} */

.part2 img{
    width: 250%;
    height: 100px;
}

.p4{
    background-color: rgb(211, 203, 203); 
    
}


.p5{
    background-color: rgb(211, 203, 203); 
    
}

.p6{
    background-color: rgb(211, 203, 203); 
    
}

.p7{
    background-color: rgb(211, 203, 203); 
    
}

/*   Theyyam is a Hindu religious ritual practiced in northern Kerala and some parts of Karnataka. Theyyam is also known as Kaḷiyāṭṭaṁ or Tiṟa.  */
                /*  */