body{
    background-color: white; color: white;
    display: block;
    text-decoration: none;
    font-size: 17px;
}


.thumbnail-container1{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    float: left;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text1{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-description1{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70px;
    width: 100%;
    color: black;
    padding-inline-end: 10px;
    font-size: 14px;
}


.thumbnail-container2{
    
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 330px;
    bottom: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text2{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-description2{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70px;
    width: 100%;
    color: black;
    padding-inline-end: 10px;
    font-size: 14px;
}


.thumbnail-container3{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 650px;
    bottom: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text3{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-description3{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70px;
    width: 100%;
    color: black;
    padding-inline-end: 10px;
    font-size: 14px;
}



.thumbnail-container4{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 980px;
    bottom: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text4{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-description4{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70px;
    width: 100%;
    color: black;
    padding-inline-end: 10px;
    font-size: 14px;
}



.thumbnail-container5{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 1300px;
    bottom: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text5{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-description5{
        position: absolute;
        bottom: 0;
        left: 0;
        top: 70px;
        width: 100%;
        color: black;
        padding-inline-end: 10px;
        font-size: 14px;
    }
    
    
.container{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 330px;
    border: 2px solid #000;
    background-color: rgb(171,230,230);
}
.p2{
    color: black;
    position: absolute;
    top: 150px;
    left: 330px;
}
.p1{
    color: black;
    position: absolute;
    top: 150px;
    left: 10px;
    right: 500px;
    text-align: justify;
}
.h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4a6c4b ;
    position: relative;
    left: 15px;
}

.h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    position: relative;
    left: 10px;
}
p{
    font-style: italic;
    color: #000;

}

.p3{
    height: 60px;
    width: 380px;
    background-color: rgba(0, 225, 255, 0.924);
    position: relative;
    top: 350px;
    left: 970px;
    border: 2px solid #000;
}

.p4{
    height: 60px;
    width: 380px;
    background-color: rgba(0, 225, 255, 0.924);
    position: relative;
    top: 360px;
    left: 970px;
    border: 2px solid #000;
}

.logo{
    width: 250px;
    height: 550px;
    border: 1px solid black;
    position: relative;
    top: 600px;
    left: 30px;
    color: black;
    text-align: left;
}


.thumbnail-container6{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 900px;
    float: left;
    left: 400px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text6{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-container7{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 900px;
    float: left;
    left: 700px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text7{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.thumbnail-container8{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 900px;
    float: left;
    left: 1000px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text8{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}


.thumbnail-container9{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 1200px;
    float: left;
    left: 400px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text9{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}


.thumbnail-container10{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 1200px;
    float: left;
    left: 700px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text10{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}


.thumbnail-container11{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    top: 1200px;
    float: left;
    left: 1000px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    padding: 20px 10px;
}

.thumbnail-text11{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100px;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}


.p5{
    height: 60px;
    width: 250px;
    color: white;
    background-color: rgba(9, 24, 42, 0.924);
    position: relative;
    top: 640px;
    left: 30px;
    color: black;
    border: 2px solid #000;
}

.hr{
    position: relative;
    top: 650px;
    color: #000;
}

.copyright{
    color: #1f1c1c;
    font-size: small;
    position: relative;
    top: 650px;
}

.last{
    color: aqua;
    font-size: small;
    position: relative;
    top: 650px;
    left: 400px;
}