
.hedding{
    color: white;

}

h1{
    color: rgb(26, 56, 62);
}

.center{
    text-align: center;
}
/* b{
    text-align: center;
}

.p1{
    text-align: left;
} */
h2{
    color: rgb(74, 54, 28);
}